@using Iris.Components.NativeMenu.Commands
@using Iris.Components.Theme
@using Iris.Components.NativeMenu
@using Iris.Components.NativeMenu.Consumers
@using Iris.Components.Shared.Time
@using Iris.Components.Brokers
@using Iris.Components.CommandPalette
@using Iris.Components.Endpoints
@using Iris.Components.Home
@using Iris.Components.Messaging
@using Iris.Components.History
@using Iris.Components.Templates
@using Iris.Components.PackageManagement
@using Iris.Components.Settings
@using Mythetech.Framework.Components.AppContextDrawer
@using Mythetech.Framework.Desktop.Updates
@using Mythetech.Framework.Infrastructure.MessageBus

@inherits LayoutComponentBase

<ThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<DialogCommandProvider />
<NavigationCommandProvider />
<HistoryExportProvider />
<PackageUploadProvider />
<CommandPaletteHost />

<MudLayout Class="custom-title-bar-layout"
           Style="@((_drawerOpen ? "width: calc(100vw - var(--mud-drawer-width-left));" : "width: calc(100vw - var(--mud-drawer-width-mini-left));") + "  transition: width 225ms cubic-bezier(0, 0, 0.2, 1);")">
    <Hermes.Blazor.Components.HermesTitleBar Height="38">
        <div class="iris-title-bar-content">
            <MudText Typo="Typo.subtitle1" Class="no-drag app-header-font" Style="white-space:nowrap;">Iris</MudText>
            <div class="no-drag" style="flex:1;min-width:0;">
                <MudBreadcrumbs Style="background-color:transparent;" Items="BreadcrumbService.Breadcrumbs" />
            </div>
        </div>
    </Hermes.Blazor.Components.HermesTitleBar>
    <MudDrawer @bind-Open="@_drawerOpen" Variant="DrawerVariant.Mini" Style="overflow: hidden;">
        <AppContextDrawer @bind-IsOpen="_drawerOpen">
            <IconBarHeader>
                <MudTooltip Text="About Iris">
                    <MudIconButton Icon="icon-iris" Size="Size.Large" Class="my-2" Color="Color.Primary"
                                   OnClick="OpenAboutDialog" />
                </MudTooltip>
                <HomeNavButton />
                <MudDivider DividerType="DividerType.Middle" Class="my-1" Style="width:75%" />
            </IconBarHeader>
            <PanelNavContent>
                <ContextPanelItem Id="messaging" Icon="@IrisIcons.Send" Title="Messaging" RoutePrefix="Messaging"
                                  ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <MessagingPanel />
                    </PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="endpoints" Icon="@IrisIcons.Endpoints" Title="Endpoints" RoutePrefix="Endpoints"
                                  ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <EndpointsPanel />
                    </PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="packages" Icon="@IrisIcons.Packages" Title="Packages" RoutePrefix="Packages"
                                  ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <PackagesPanel />
                    </PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="history" Icon="@IrisIcons.History" Title="History" RoutePrefix="History"
                                  ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <HistoryPanel />
                    </PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="templates" Icon="@IrisIcons.Templates" Title="Templates" RoutePrefix="Templates"
                                  ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <TemplatesPanel />
                    </PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="connections" Icon="@IrisIcons.Connections" Title="Connections"
                                  RoutePrefix="Connections" ActivePanelClass="context-panel-active">
                    <PanelContent>
                        <ConnectionsPanel />
                    </PanelContent>
                </ContextPanelItem>
            </PanelNavContent>
            <PanelFooterContent>
                <ThemeToggle />
                <IconButton Name="@IrisIcons.Settings" ButtonClicked="OpenSettingsDialog" Title="Settings"
                            Placement="Placement.Right" />
            </PanelFooterContent>
        </AppContextDrawer>
    </MudDrawer>
    <MudMainContent Class="mud-height-full mud-width-full px-4" Style="overflow:hidden;">
        @Body
    </MudMainContent>
    <NativeMenuDispatcher />
    <NativeMenuStateUpdater />
    <Iris.Desktop.NativeMenu.Consumers.ClearHistoryProvider />
    <InitializeTimeZone />
</MudLayout>
@code {
    [Inject]
    Iris.Components.Breadcrumbs.BreadcrumbService BreadcrumbService { get; set; } = default!;

    [Inject]
    IDialogService DialogService { get; set; } = default!;

    [Inject]
    IUpdateService UpdateService { get; set; } = default!;

    [Inject]
    IMessageBus Bus { get; set; } = default!;

    private bool _drawerOpen;

    protected override void OnInitialized()
    {
        BreadcrumbService.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateService.CheckForUpdatesOnStartupAsync();
        }
    }

    private async Task OpenSettingsDialog()
    {
        await Bus.PublishAsync(new ShowDialog(typeof(SettingsDialog), "Settings",
           new DialogOptions { CloseOnEscapeKey = true, BackgroundClass = "iris-dialog", MaxWidth = MaxWidth.Large }));
   
    }

    private async Task OpenAboutDialog()
    {
        await DialogService.ShowAsync<AboutIrisDialog>("About", new DialogOptions
        {
            CloseOnEscapeKey = true,
            BackgroundClass = "iris-dialog",
            MaxWidth = MaxWidth.Small
        });
    }

    public void Dispose()
    {
        BreadcrumbService.OnChange -= StateHasChanged;
    }
}
