@using Iris.Components.Theme
@using Iris.Components.NativeMenu
@using Iris.Components.NativeMenu.Consumers
@using Iris.Components.Shared.Time
@using Iris.Components.Brokers
@using Iris.Components.CommandPalette
@using Iris.Components.Endpoints
@using Iris.Components.Home
@using Iris.Components.Messaging
@using Iris.Components.History
@using Iris.Components.Templates
@using Iris.Components.PackageManagement
@using Iris.Components.Settings
@using Mythetech.Framework.Components.AppContextDrawer
@using Mythetech.Framework.Desktop.Updates

@inherits LayoutComponentBase

<ThemeProvider />
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<DialogCommandProvider />
<NavigationCommandProvider />
<HistoryExportProvider />
<PackageUploadProvider />
<CommandPaletteHost />

<MudLayout Class="custom-title-bar-layout" Style="@((_drawerOpen ? "width: calc(100vw - var(--mud-drawer-width-left));" : "width: calc(100vw - var(--mud-drawer-width-mini-left));") + "  transition: width 225ms cubic-bezier(0, 0, 0.2, 1);")">
    <Hermes.Blazor.Components.HermesTitleBar Height="38">
        <div class="iris-title-bar-content">
            <MudText Typo="Typo.subtitle1" Class="no-drag app-header-font" Style="white-space:nowrap;">Iris</MudText>
            <div class="no-drag" style="flex:1;min-width:0;">
                <MudBreadcrumbs Style="background-color:transparent;" Items="BreadcrumbService.Breadcrumbs"/>
            </div>
        </div>
    </Hermes.Blazor.Components.HermesTitleBar>
    <MudDrawer @bind-Open="@_drawerOpen" Variant="DrawerVariant.Mini" Style="overflow: hidden;">
        <AppContextDrawer @bind-IsOpen="_drawerOpen">
            <IconBarHeader>
                <MudTooltip Text="About Iris">
                    <MudIconButton Icon="icon-iris" Size="Size.Large" Class="my-2" Color="Color.Primary" OnClick="OpenAboutDialog" />
                </MudTooltip>
            </IconBarHeader>
            <PanelNavContent>
                <HomeNavButton />
                <ContextPanelItem Id="messaging" Icon="@IrisIcons.Send" Title="Messaging">
                    <PanelContent><MessagingPanel /></PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="endpoints" Icon="@IrisIcons.Endpoints" Title="Endpoints">
                    <PanelContent><EndpointsPanel /></PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="packages" Icon="@IrisIcons.Packages" Title="Packages">
                    <PanelContent><PackagesPanel /></PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="history" Icon="@IrisIcons.History" Title="History">
                    <PanelContent><HistoryPanel /></PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="templates" Icon="@IrisIcons.Templates" Title="Templates">
                    <PanelContent><TemplatesPanel /></PanelContent>
                </ContextPanelItem>
                <ContextPanelItem Id="connections" Icon="@IrisIcons.Connections" Title="Connections">
                    <PanelContent><ConnectionsPanel /></PanelContent>
                </ContextPanelItem>
            </PanelNavContent>
            <PanelFooterContent>
                <ThemeToggle />
                <MudTooltip Text="Settings">
                    <MudIconButton Color="Color.Primary" Icon="@IrisIcons.Settings" OnClick="OpenSettingsDialog" />
                </MudTooltip>
            </PanelFooterContent>
        </AppContextDrawer>
    </MudDrawer>
    <MudMainContent Class="mud-height-full mud-width-full px-4" Style="overflow:hidden;">
        @Body
    </MudMainContent>
    <NativeMenuDispatcher />
    <NativeMenuStateUpdater />
    <Iris.Desktop.NativeMenu.Consumers.ClearHistoryProvider />
    <InitializeTimeZone />
</MudLayout>
@code {
    [Inject]
    Iris.Components.Breadcrumbs.BreadcrumbService BreadcrumbService { get; set; } = default!;

    [Inject]
    IDialogService DialogService { get; set; } = default!;

    [Inject]
    IUpdateService UpdateService { get; set; } = default!;

    private bool _drawerOpen;

    protected override void OnInitialized()
    {
        BreadcrumbService.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateService.CheckForUpdatesOnStartupAsync();
        }
    }

    private async Task OpenSettingsDialog()
    {
        await DialogService.ShowAsync<SettingsDialog>("Settings", new DialogOptions
        {
            CloseOnEscapeKey = true,
            BackgroundClass = "iris-dialog",
            MaxWidth = MaxWidth.Large
        });
    }

    private async Task OpenAboutDialog()
    {
        await DialogService.ShowAsync<AboutIrisDialog>("About", new DialogOptions
        {
            CloseOnEscapeKey = true,
            BackgroundClass = "iris-dialog",
            MaxWidth = MaxWidth.Small
        });
    }

    public void Dispose()
    {
        BreadcrumbService.OnChange -= StateHasChanged;
    }
}
