@page "/register"
@using Iris.Cloud.Client.Identity
@using Iris.Components.Theme
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]
@inject IAccountManagement Acct

<PageTitle>Register</PageTitle>

<MudToolBar Class="gap-1">
    <MudIcon Size="Size.Small" Class="icon-iris mb-1"></MudIcon>
    <MudText Class="iris-font">Iris</MudText>
    <MudSpacer />
    <MythetechWebsiteLink />
</MudToolBar>


<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">You're already logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        @if (success)
        {
            <div class="alert alert-success">You successfully registered. Now you can <a href="login">login if it does not log you in automatically</a>.</div>
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary"/>
                <MudText>Logging in...</MudText>
            </MudStack>
        }
        else
        {
            if (errors)
            {
                foreach (var error in errorList)
                {
                    <div class="alert alert-danger">@error</div>
                }
            }
            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Style="margin-top:10em;">
                <IrisRainbowContainer Style="border-radius:10px;">

                    <IrisCard Title="@("Sign Up" + (freeTrialFlow ? " For Free Trial" : ""))" Height="500px" Class="pa-8">
                        <MudStack Spacing="1" Class="mud-height-full">
                            <MudTextField @bind-Value="email" Label="Email" Variant="Variant.Filled" InputType="InputType.Text" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Email" />

                            <ProtectedTextField @bind-Value="password" Label="Password" />

                            <ProtectedTextField @bind-Value="confirmPassword" Label="Confirm Password" />

                            <MudTextField @bind-Value="@key" Label="Subscription Key (optional)" Variant="Variant.Filled" InputType="InputType.Text" Adornment="Adornment.End" AdornmentIcon="@IrisIcons.Key" />

                            <MudSpacer />

                            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mud-width-full" OnClick="DoRegisterAsync" Disabled="loading">
                                Register
                            </MudButton>
                            
                            <MudDivider Style="border-color:var(--mud-palette-action-default);" Class="mt-3" />
                            
                            <MudText Typo="Typo.body1" class="mud-text-secondary text-sm-center">Already have an account? <MudLink Href="/login">Login</MudLink> instead.</MudText>

                        </MudStack>
                    </IrisCard>
                </IrisRainbowContainer>
            </MudContainer>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] protected NavigationManager NavigationManager { get; set; } = default!;
    [SupplyParameterFromQuery] public string SubscriptionKey { get; set; } = "";
    [SupplyParameterFromQuery] public bool? FreeTrial { get; set; } = false;
    
    private bool success, errors;
    private string email = string.Empty;
    private string password = string.Empty;
    private string confirmPassword = string.Empty;
    private string[] errorList = [];
    private bool loading = false;
    private string key = "";
    private bool freeTrialFlow = false;
    
    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(SubscriptionKey))
            key = SubscriptionKey;

        if (FreeTrial ?? false)
        {
            freeTrialFlow = true;
        }
        
        base.OnParametersSet();
    }

    public async Task DoRegisterAsync()
    {
        success = errors = false;
        errorList = [];

        if (string.IsNullOrWhiteSpace(email))
        {
            errors = true;
            errorList = ["Email is required."];

            return;
        }

        if (string.IsNullOrWhiteSpace(password))
        {
            errors = true;
            errorList = ["Password is required."];

            return;
        }

        if (string.IsNullOrWhiteSpace(confirmPassword))
        {
            errors = true;
            errorList = ["Please confirm your password."];

            return;
        }

        if (password != confirmPassword)
        {
            errors = true;
            errorList = ["Passwords don't match."];

            return;
        }

        loading = true;
        StateHasChanged();
        
        var result = await Acct.RegisterAsync(email, password, key, freeTrialFlow);

        loading = false;
        StateHasChanged();

        if (result.Succeeded)
        {
            success = true;

            loading = true;
            StateHasChanged();

            var loginResult = await Acct.LoginAsync(email, password);

            if (loginResult.Succeeded)
            {
                NavigationManager.NavigateTo("/", true);
            }
            
            email = password = confirmPassword = string.Empty;
        }
        else
        {
            errors = true;
            errorList = result.ErrorList;
        }
    }
}
