@using System.Reflection
@using Toolbelt.Blazor.ViewTransition
@using Iris.Desktop.Layout
@using Microsoft.AspNetCore.Components.Routing
@inject IViewTransition ViewTransition

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@([typeof(Iris.Components._Imports).Assembly])" OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <CascadingValue Name="PageType" Value="@routeData.PageType">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </CascadingValue>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private async Task OnNavigateAsync()
    {
        await ViewTransition.BeginAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ViewTransition.EndAsync();
    }
}