@using Iris.Components.Theme

<div @onclick:stopPropagation="true">
    <MudMenu Dense="true">
        <ActivatorContent>
            <MudTooltip Text="Actions">
                <div @onclick="@context.ToggleAsync">
                    <MudIcon Class="icon-hover" Icon="@IrisIcons.MoreOptions" Style="cursor:pointer;" />
                </div>
            </MudTooltip>
        </ActivatorContent>
        <ChildContent>
            @foreach (var item in Actions)
            {
                <MudMenuItem Class="d-flex" OnClick="@(async () => await ActionSelected.InvokeAsync(item))">
                    @item.Text
                    <FlexSpacer/>
                    <MudIcon Icon="@item.Icon"></MudIcon>
                </MudMenuItem>
            }
        </ChildContent>
    </MudMenu>
</div>

@code {
    public class ActionMenuModel
    {
        public string Icon { get; set; } = "";
        public string Text { get; set; } = "";
    }

    [Parameter]
    public List<ActionMenuModel> Actions { get; set; } = default!;

    [Parameter]
    public EventCallback<ActionMenuModel> ActionSelected { get; set; } = default!;
}
